.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li>label[for='todo'] {
  width: 210px;
}


* {
  box-sizing: border-box;
}

.container, #controller {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.container {
  font-size: 120px;
  width: 50%;
}

.icon {
  padding: 15px;
}

.dark {
  background: black;
  color: #eee;
}


.light {
  background: #eee;
  color: #999;
}

